
<div class=" container" style="margin-top:5%">
    <div class ="col-lg-6  ">
        <div  class="left">
           <img src = "<%= current_user.image.url%>" class="img-circle">
              <h2><strong><%= current_user.first_name%> <%=current_user.last_name%></strong></h2>
              <p>
                  <span><%=current_user.email%></span>
                  <span style="float:right;"><%= link_to "Edit Profile" , "users/#{current_user.id}/edit"%></span>
              </p>

                <div class="post">
                  <h3>Let's do a post</h3>
                  <%= render 'form'%>
                </div>

                <br>
                <div class ="col-lg-12">
                <h2 class="post_heading"> Your Recent Posts</h2>
                <%@user_pages.where("user_id = #{current_user.id}").order(id: :desc).limit(3).each do |user_page|%>
                  <div class ="panel panel-primary">
                          <div class="panel-heading">
                            <span>
                                <% @id = user_page.user_id %>
                                <%@img  = User.find(@id)%>
                                 <img src= "<%= @img.image.url %> " style ="max-height: 25px;">
                                  <strong><%= user_page.name%></strong>
                              </span>
                          </div>

                        <div class="panel-body">
                            <p><%= user_page.post%></p>
                                    <div class="">
                                        <% user_page.comments.each do |comment|%>
                                        <% @id = comment.user_id %>
                                         <% @comment_details  = User.find(@id ) unless @id.blank?%>
                                         <div class="comment_box panel mode">
                                               <div class ="comment_heading">
                                                   <img src= "<%= @comment_details.image.url %> " style ="max-height: 25px;">
                                                   <strong><%=@comment_details.first_name%></strong>
                                                 </div>
                                                    <p style="padding:10px;"><%=comment.comment_line%></p>
                                                    <hr/>
                                          </div>
                                       <%end%>
                                  </div>
                                  <%= link_to " #{user_page.likes.count}  Likes", "#",:onclick => "return $.fn.update_like(this,#{user_page.id});", id: "like_#{user_page.id}"%> &nbsp;&nbsp;
                                    <%= link_to "Comment", "#",:onclick => "return $.fn.show_comment(this,#{user_page.id});" %>
                                <div class ='box' , id:="comment_<%=user_page.id%>", style="">
                                     <%= render "comments/comment", user_page_id: user_page.id %>
                                  </div>
                                 <div style ='float:right'>
                                   <% if current_user.id == user_page.user_id %>
                                       <span><%= link_to 'Delete post', user_page, method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp;&nbsp;&nbsp;
                                       <span><%= link_to 'Edit post', edit_user_page_path(user_page) %></span>
                                    <%end%>
                                  </div>

                        </div>
                   </div>
                <%end%>
                </div>
        </div>





  <div class="col-lg-6  " >
        <%if @user_pages.exists?%>
        <h2 class="post_heading">Posts</h2>
        <%end%>
        <%@user_pages.order(id: :desc).each do |user_page|%>
          <div class ="panel panel-primary">
                <div class="panel-heading">
                    <span>
                        <% @id = user_page.user_id %>
                        <%@img  = User.find(@id)%>
                         <img src= "<%= @img.image.url %> " style ="max-height: 25px;">
                          <strong><%= user_page.name%></strong>
                      </span>
                </div>

          <div class="panel-body">
                  <p><%= user_page.post%></p>
                  <div class="">
                        <% user_page.comments.each do |comment|%>
                        <% @id = comment.user_id %>
                         <% @comment_details  = User.find(@id ) unless @id.blank?%>
                         <div class="comment_box panel mode">
                               <div class ="comment_heading">
                                     <img src= "<%= @comment_details.image.url %> " style ="max-height: 25px;">
                                     <strong><%=@comment_details.first_name%></strong>
                                 </div>
                                    <p style="padding:10px;"><%=comment.comment_line%></p>
                                    <hr/>
                          </div>
                       <%end%>
                </div>
                  <%= link_to " #{user_page.likes.count}  Likes", "#",:onclick => "return $.fn.update_like(this,#{user_page.id});", id: "like_#{user_page.id}"%> &nbsp;&nbsp;
                    <%= link_to "Comment", "#",:onclick => "return $.fn.show_comment(this,#{user_page.id});" %>
                <div class ='box' , id:="comment_<%=user_page.id%>", style="">
                     <%= render "comments/comment", user_page_id: user_page.id %>
                  </div>
                   <div style ='float:right'>
                     <% if current_user.id == user_page.user_id  || current_user.admin?%>
                         <span><%= link_to 'Delete post', user_page, method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp;&nbsp;&nbsp;
                         <span><%= link_to 'Edit post', edit_user_page_path(user_page) %></span>
                      <%end%>
                    </div>
          </div>
      </div>
    <%end%>
  </div>
</div>